.header__top {
    display: flex;
    align-items: center;
}

.logo {
    margin: 30px 172px 31px 274px;
}

.menu__item {
    display: inline;
    margin: 30px 0px 0px 72px;
}

.header__right {
    margin-left: 283px;
}

.header__sign-in {
    padding-right: 35px;
}

.header__content {
    background-image: url(/images/header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 895px; 
    width: 100%;
    top: 86px;
}

.header__content-box{
    max-width: 1360px;
    padding: 175px 1205px 600px 275px;

}

.header__title {
    font-weight: 700;
    font-size: 65px;
    line-height: 74px;
    color: #01996D;
    width: 440px;
    height: 148px;
    margin-bottom: 30px;
}

.header__text{
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    color: #484848;
    width: 420px;
    height: 123px;
    margin-bottom: 18px;
}

.header__btn {
    flex-direction: column;
    align-items: center;
    padding: 20px 50px;
    background: #01996D;
    border: 1px solid #01996D;
    border-radius: 4px;
    width: 245px;
    height: 65px;
    color: #FFFFFF;
}